@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  /* light */
  /* --color-primary: 6 182 212; */
  --color-primary: 188.74deg 94.5% 42.75%;
  /* --color-primary: 99 102 241; */
  --btn-bg-primary: var(--color-primary);
  --btn-bg-second: 0deg 0% 14.9%;
  --btn-bg-third: 0deg 0% 9.02%;
  --btn-txt-color-primary: 0deg 0% 100%;
  --btn-txt-color-second: 0deg 0% 25.1%;
  --txt-color-primary: 0deg 0% 9.02%;
  --txt-color-secondary: 0deg 0% 32.16%;
  --txt-color-dark-secondary: 0deg 0% 90.16%;
  --light: 0deg 0% 98.04%;
  --dark: 0deg 0% 9.02%;
  --semi-dark: 0deg 0% 14.9%;

  --color-content: 217deg 32.6% 17.5%;
}


@layer components {
  .nav-li>a {
    @apply px-6 py-3 text-content-sec dark:text-content-nav uppercase tracking-wider rounded-[30px] hover:bg-primary hover:text-white transition duration-200 ease-in-out;
  }
}

/* 
:root[data-theme='dark'] {
  --color-content: 210deg 40% 98%;

  --btn-bg-second: 0deg 0% 98.04%;
  --btn-bg-third: 0deg 0% 100%;
  --btn-txt-color-primary: 0deg 0% 100%;
  --btn-txt-color-second: 0deg 0% 25.1%;
  --txt-color-primary: 0deg 0% 100%;
  --txt-color-second: 0deg 0% 63.92%;
  --foreground: 217deg 32.6% 17.5%;
  --bg-primary: 0deg 0% 9.02%;
  --bg-second: 0deg 0% 14.9%;
} */